# TODO: change these variables to match requirements
aws_region = "<aws region>"
environment = "<enviornment name>" # dev or prod
aws_account_id = "<aws account id>>"
db_username = "<database username>"
db_password = "<database password>"

# The following can remain: 
vpc_cidr_block = "10.0.0.0/16"
subnet_count = {
  public = 1,
  private = 2
}
settings = {
    "database" = {         
        engine              = "mysql" 
        name                = "product"      
        engine_version      = "8.0.40"      
        skip_final_snapshot = true
        dev_allocated_storage = 10
        prod_allocated_storage = 20
        dev_instance_type = "db.t3.micro"
        prod_instance_type = "db.t4g.large"
    },
    "web_app" = {
        dev_instance_type = "t4g.nano"
        prod_instance_type = "t4g.large"
        count         = 1
        ami = "ami-0c30dbe0df8e646a6"
    }
}
public_subnet_cidr_blocks =  [
    "10.0.1.0/24",
    "10.0.2.0/24",
    "10.0.3.0/24",
    "10.0.4.0/24"
]
private_subnet_cidr_blocks = [
    "10.0.101.0/24",
    "10.0.102.0/24",
    "10.0.103.0/24",
    "10.0.104.0/24",
]
